@import './variables';

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #F1F1F1;
}

.w-20 {
  width: 20%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

.line-height-1 {
  line-height: 1.4rem;
}

a {
  color: map-get($colors, "grey-9");
}

p {
  line-height: 1.6em;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: .1538rem;
  font-size: map-get($font-sizes, 'sm')*$base-font-size;
  padding: .2rem .6rem;

  .icon {
    margin-right: .5rem;
  }

  &.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($colors, 'white-f');
    border: 1px solid map-get($colors, 'white-e');
    padding: .8rem 1rem;
    font-size: 1.1rem;
  }
}

.icon {
  width: 23px;
  height: 20px;
  display: inline-block;
  background-image: url("../images/index.png");
  background-repeat: no-repeat;
  background-size: 375px 455px;

  &.icon-fact {
    background-position: 63.546% 15.517%;
  }

  &.icon-story {
    background-position: 90.483% 15.614%;
  }

  &.icon-mall {
    background-position: 36.746% 0.924%;
  }

  &.icon-serving {
    background-position: 10.408% 15.517%;
  }

  &.icon-couple {
    background-position: 89.733% 1.266%;
  }

  &.icon-glory {
    background-position: 36.467% 15.287%;
  }

  &.icon-data {
    background-position: 36.467% 15.287%;
  }

  &.icon-camp {
    background-position: 36.467% 15.287%;
  }

  &.icon-public {
    background-position: 36.467% 15.287%;
  }

  &.icon-version {
    background-position: 36.467% 15.287%;
  }

  &.icon-game {
    background-position: 36.467% 15.287%;
  }

  &.icon-king {
    background-position: 36.467% 15.287%;
  }

  &.icon-arrow {
    width: 10px;
    height: 10px;
    background-position: 38.577% 52.076%;
  }

  &.icon-news {
    width: 13px;
    height: 13px;
    background-position: 0.138% 50.452%;
  }

  &.icon-heroes {
    width: 13px;
    height: 13px;
    background-position: 46.768% 60.452%;
  }

  &.icon-graphic {
    width: 13px;
    height: 13px;
    background-position: 0.138% 62.783%;
  }

  &.icon-video {
    width: 13px;
    height: 13px;
    background-position: 0.138% 56.532%;
  }

  &.icon-more {
    width: 18px;
    height: 3px;
    background-position: 47.619% 56.305%;
  }

  &.icon-related {
    width: 42px;
    height: 17px;
    background-position: 50.975% 51.425%;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-bottom {
  border-bottom: 1px solid map-get($colors, 'light-d');
}

@each $direction in (left, center, right) {
  .text-#{$direction} {
    text-align: $direction !important;
  }
}

@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

@each $sizeKey,
$size in $font-sizes {
  .font-size-#{$sizeKey} {
    font-size: $size*$base-font-size;
  }
}

@each $key,
$value in $flex-justify-contents {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}

@each $key,
$value in $flex-align-items {
  .align-items-#{$key} {
    align-items: $value;
  }
}

@each $typeKey,
$type in $spacing-types {

  // margin
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size*$spacing-base-size;
    }
  }

  // margin-,margin-
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size*$spacing-base-size;
      #{$type}-right: $size*$spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size*$spacing-base-size;
      #{$type}-bottom: $size*$spacing-base-size;
    }
  }

  // margin-
  @each $directionKey,
  $direction in $spacing-directions {

    @each $sizeKey,
    $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size*$spacing-base-size;
      }
    }
  }
}